@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    margin: 0;
    font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}


.icon {
    padding: 50px;
}

.header-right {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 10px 0;
}

.text {
    padding: 15px 40px;
    height: 70px;
}

.small {
    margin-right: 40px;
}

.main {
    text-align: center;
}


.orca {
    max-height: 60%;
    max-width: 100%;
    margin-bottom: 100px;
}

.work {
    margin: 50px 0;
}

.contents {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}

.contents img {
    width: 300px;
    margin: 5px 20px;
}

.contents p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 50px;
}

.footer {
    background-color: #a9a9a9;
    color:white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 50px 0 0 0;
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
  }
  
.fade-in.is-show {
    opacity: 1;
    visibility: visible;
  }


  @media screen and (max-width: 480px){ 
    header {
        margin-top: 20px;
    }

    .icon {
        padding: 20px;
        height: 128px;
    }

    .text {
        height: 30px;
        padding: 5px 15px;
    }

    .small {
        margin-right: 15px;
    }

    .home {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
    }

    .orca {
        margin: 0;
        width: 90%;
    }

  }