@charset "utf-8";

* {
    box-sizing: border-box;
    list-style: none;
}

body {
    max-width: 1440px;
    width: 100%;
    background-color: #f5f5f5;
    margin: 0 auto;
    font-family: 'Arial';
    color: #5f5f5f;
}

.home {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    margin: 100px 50px;
    gap: 65px;
    max-width: 100%;
    height: 100vh;
}


.icon {
    width: 150px;
    height: auto;
    max-width: 100%;
    min-width: 50px;
}

.header-right {
    padding: 0;
    width: auto;
    height: 340px;

}

.hamburger {
    display: none;
}

.globalMenuSp {
    display: none;
}

ul {
    padding: 0;
} 

.header-right li {
    text-align: left;
    margin-bottom: 20px;
}

a {
    font-size: 64px;
    font-size: clamp(24px,5vw, 64px);
    line-height: 1;
    color: #5f5f5f;
    margin: 0;
    text-decoration: none;
}




.main {
    text-align: center;
}


.orca {
    width: 800px;
    height: auto;
    max-width: 55%;
}

.orca2 {
    display: none;
}

.sample {
    margin: 50px 0;
}

.contents {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
}

.contents img {
    width: 400px;
    margin: 5px 20px;
}

.soon {
    width: 400px;
    height: 300px;
    background-color: #5f5f5f;
    margin: 5px 20px;
}

.contents p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 50px;
}

h1 {
    font-size: 64px;
    font-size: clamp(24px,5vw, 64px);
    font-weight: normal;
}

.footer {
    background-color: #a9a9a9;
    color:white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 50px 0 0 0;
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
  }
  
.fade-in.is-show {
    opacity: 1;
    visibility: visible;
  }




    @media screen and (max-width: 480px){ 
    .contents img {
        width: 80vw;
        margin: 0 auto;
    }

    .soon {
        width: 80vw;
        height: 200px;
        margin: 0 auto;
    }
    
    .header-right {
        display: none;
    }

    .home {
        height: 80px;
        margin: 10px;
        justify-content: space-between;
        align-items: center;
    }
    .icon {
        display: block;
        width: 70px;
        height: auto;
        margin: 10px;
    }
    .orca {
        display: none;
    }
    
    .orca2 {
        display: block;
        width: 300px;
        height: auto;
        max-width: 90%;
        margin: 0 auto;
    }

    /*　ハンバーガーボタン　*/
    .hamburger {
        display : block;
        position: fixed;
        z-index : 3;
        right : 10px;
        top   : 10px;
        width : 70px;
        height: 70px;
        cursor: pointer;
        text-align: center;
    }
    .hamburger span {
        display : block;
        position: absolute;
        width   : 50px;
        height  : 2px ;
        left    : 10px;
        background : #555;
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition   : 0.5s ease-in-out;
        transition        : 0.5s ease-in-out;
    }
    .hamburger span:nth-child(1) {
        top: 17.5px;
    }
    .hamburger span:nth-child(2) {
        top: 35px;
    }
    .hamburger span:nth-child(3) {
        top: 52.5px;
    }
    
    /* ナビ開いてる時のボタン */
    .hamburger.active span:nth-child(1) {
        top : 27.5px;
        left: 10px;
        background : #fff;
        -webkit-transform: rotate(315deg);
        -moz-transform   : rotate(315deg);
        transform        : rotate(315deg);
    }
    
    .hamburger.active span:nth-child(2),
    .hamburger.active span:nth-child(3) {
        top: 27.5px;
        background : #fff;
        -webkit-transform: rotate(-315deg);
        -moz-transform   : rotate(-315deg);
        transform        : rotate(-315deg);
    }

    li {
        text-align: center;
    }
    
    nav.globalMenuSp {
        position: fixed;
        z-index : 2;
        top  : 0;
        left : 0;
        color: #fff;
        background: #5f5f5f;
        text-align: center;
        width: 100%;
        opacity: 0;
        transition: opacity .6s ease, visibility .6s ease;
        display: none;
    }
    
    nav.globalMenuSp ul {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    nav.globalMenuSp a {
        width: 50vw;
        margin: 0 auto;
    }

    
    nav.globalMenuSp ul li {
        list-style-type: none;
        padding: 0;
        width: 100%;
        transition: .4s all;
    }
    nav.globalMenuSp ul li:last-child {
        padding-bottom: 0;
    }
    nav.globalMenuSp ul li:hover{
        background :#ddd;
      }
      
    nav.globalMenuSp ul li a {
        display: block;
        color: #fff;
        padding: 1em 0;
        text-decoration :none;
    }
      
    /* このクラスを、jQueryで付与・削除する */
    nav.globalMenuSp.active {
        opacity: 1;
        display: block;
      
    }
    

  }